<ion-modal-view style="background-color: #1D1D1D;">
    <ion-header-bar class="bar-color-1" align-title="center">
        <h1 class="title title-center header-item"></h1>
        <ion-header-buttons side="left">
            <button class="button button-icon button-white ion-ios-arrow-back" ng-click="pwModal.hide()"></button>
        </ion-header-buttons>
    </ion-header-bar>
    <div class="bar bar-subheader">
      <h2 class="title">change my password</h2>
    </div>


    <ion-content class="main-content has-subheader" style="padding:15px;">
        <div class="list signup-form cust-form-1" ng-form="myForm">
          <label class="item item-input">
              <input type="password" name="password" placeholder="Old Password" ng-model="new_pw.password" required>
          </label>
          <p class="form-error-msg" style="color:#fff;" ng-if="myForm.password.$error.required && myForm.password.$dirty"><i class="icon ion-information-circled assertive"></i> Please enter your password</p>

          <label class="item item-input">
              <!-- <span class="input-label">Password</span> -->
              <input type="password" name="new_password" placeholder="New Password" ng-model="new_pw.new_password" ng-pattern="/^(?=.*\d).{6,}$/" required>
              <p class="form-error-msg" ng-if="myForm.new_password.$valid"><i class="icon ion-checkmark-circled balanced"></i></p>
          </label>
          <p class="form-error-msg" style="color:#fff;" ng-if="myForm.new_password.$error.required && myForm.new_password.$dirty"><i class="icon ion-information-circled assertive"></i> Please enter new your password</p>
          <p class="form-error-msg" style="color:#fff;" ng-if="myForm.new_password.$error.pattern"><i class="icon ion-information-circled assertive"></i> Password must at least 6 characters with least one letter one number.</p>

          <label class="item item-input">
              <!-- <span class="input-label">Confirm Password</span> -->
              <input type="password" name="confirm_password" placeholder="Confirm New Password" ng-model="new_pw.confirm_password" compare-To="new_pw.new_password" required>
              <p class="form-error-msg" ng-if="myForm.confirm_password.$valid"><i class="icon ion-checkmark-circled balanced"></i></p>
          </label>
          <p class="form-error-msg" style="color:#fff;" ng-if="myForm.confirm_password.$error.compareTo && myForm.confirm_password.$dirty"><i class="icon ion-information-circled assertive"></i> Passwords do not match</p>


          <div class="booth-btn">
            <button class="button button-small button-full btn-inline btn-bg" ng-disabled="myForm.$invalid" ng-click="updatePw(new_pw)">
              update
            </button>
          </div>
        </div>
    </ion-content>
</ion-modal-view>
