<ion-view view-title="">
  <!-- <div class="top-coners-div"><div class="corner-body"></div></div> -->
  <div class="bar bar-subheader">
    <h2 class="title">Promotions</h2>
  </div>

  <ion-content class="main-content has-subheader has-tabs">
    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="init()">
    </ion-refresher>
    <div ng-if="btnActive.listings.length <= 0" class="empty-msg padding">
      <h4 class="text-center"><i class="icon ion-paper-airplane"></i><br>no products found, please check again later.</h4>
    </div>
    <div ng-if="btnActive.listings.length >0" class="ticket-grid">
      <div class="row" ng-repeat="r in [] | range:btnRows(2)">
        <div ng-if="btnActive.listings[r*2]" class="col col-50 animated fadeInLeft" ng-click="showProDetials(btnActive.listings[r*2])">
          <img class="item-img" ng-src="{{btnActive.listings[r*2].listing.image_square}}" alt="">
          <div class="ticket-desc">
            <h4>{{btnActive.listings[r*2].listing.heading}}</h4>
            <div class="ticket-status">
              <span class="barcode-msg" ng-bind-html="btnActive.listings[r*2].listing.desc_short"></span>
            </div>
            <!-- <div class="ticket-footer">
              <span ng-show="vouchers[r*2].expire_date" class="voucher-exp">{{expTime(vouchers[r*2].expire_date)}}</span>
              <span class="voucher-qty">x2</span>
            </div> -->
          </div>
          <!-- tickets[r*2] -->
        </div>
        <div ng-if="btnActive.listings[r*2+1]" class="col col-50 animated fadeInRight" ng-click="showProDetials(btnActive.listings[r*2+1])">
          <img class="item-img" ng-src="{{btnActive.listings[r*2+1].listing.image_square}}" alt="">
          <div class="ticket-desc">
            <h4>{{btnActive.listings[r*2+1].listing.heading}}</h4>
            <div class="ticket-status">
              <!-- <div class="">{{vouchers[r*2+1].order_detail.status == 'successful'?'Confirmed':(vouchers[r*2+1].order_detail.status == 'in_progress'?'In Progress':vouchers[r*2+1].order_detail.status)}}</div> -->
              <span class="barcode-msg" ng-bind-html="btnActive.listings[r*2+1].listing.desc_short"></span>
            </div>
          </div>
          <!-- tickets[r*2+1] -->
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
