<ion-view view-title="">
    <ion-nav-bar class="bar-color-1" align-title="center">
        <ion-nav-back-button class="nav-button">
        </ion-nav-back-button>
    </ion-nav-bar>
    <div class="bar bar-subheader">
      <h2 class="title">Forgot Password</h2>
    </div>
    <!-- <div class="top-coners-div"><div class="corner-body"></div></div> -->
    <ion-content class="main-content has-subheader padding">

        <div class="list signup-form cust-form-1" ng-form="myForm">

            <label class="item item-input item-select">
                <select ng-model="selected" style="background-color:transparent; color:#fff;">
                    <option value="e" selected>Email</option>
                    <!-- <option value="s">SMS</option> -->
                </select>
                <div class="input-label">
                    Reset your password with
                </div>
            </label>

            <label ng-if="selected == 'e'" class="item item-input">
                <input name="email" type="email" placeholder="Email" ng-model="form.email" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' required>
            </label>

            <label ng-if="selected == 's'" class="item item-input">
                <span class="input-label">+61</span>
                <input name="phone" type="tel" ng-pattern="/^0?4\d{8}$/" ng-model="form.phone" required>
            </label>
        </div>

        <button class="button button-small button-full btn-inline btn-bg" ng-click="resetPassword(selected)" ng-disabled="myForm.$invalid">
            Submit
        </button>

        <p ng-if="msg" class="text-center" style="color:#fff">{{msg}}</p>


    </ion-content>
</ion-view>
