<ion-tabs class="tabs-icon-only tabs-striped bottom-tab tabs-color-lightblue main-tab-bar">

      <!-- Dashboard Tab -->

      <ion-tab title="Home" icon="fa fa-home" href="#/menu/tabs/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
      </ion-tab>

      <!-- <ion-tab title="{{getTab(2).page_name}}" icon="fa {{getTab(2).icon}}" href="{{getTabUrl(2)}}">
        <ion-nav-view name="tab2"></ion-nav-view>
      </ion-tab>

      <ion-tab title="{{getTab(3).page_name}}" icon="fa {{getTab(3).icon}}"  href="{{getTabUrl(3)}}">
        <ion-nav-view name="tab3"></ion-nav-view>
      </ion-tab>


      <ion-tab title="{{getTab(4).page_name}}" icon="fa {{getTab(4).icon}}" href="{{getTabUrl(4)}}">
        <ion-nav-view name="tab4"></ion-nav-view>
      </ion-tab>


      <ion-tab title="{{getTab(5).page_name}}" icon="fa {{getTab(5).icon}}" href="{{getTabUrl(5)}}">
        <ion-nav-view name="tab5"></ion-nav-view>
      </ion-tab> -->

      <ion-tab title="What's on" icon-off="fa fa-calendar-alt" icon-on="fa fa-calendar-alt" href="#/menu/tabs/whatson">
        <ion-nav-view name="tab-whats"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Promotions" icon-off="fa fa-star" icon-on="fa fa-star" href="#/menu/tabs/promotions">
        <ion-nav-view name="tab-pro"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Gift Cards" icon-off="fa fa-gift" icon-on="fa fa-gift" href="#/menu/tabs/gift_cards">
        <ion-nav-view name="tab-gift"></ion-nav-view>
      </ion-tab>

      <!-- <ion-tab title="Redeem" icon-off="fa fa-gift" icon-on="fa fa-gift" href="#/menu/tabs/gift_cards">
        <ion-nav-view name="tab-gift"></ion-nav-view>
      </ion-tab> -->

      <!-- <ion-tab title="What's On" icon-off="ems-whats-icon" icon-on="ems-whats-icon" href="#/menu/tabs/whats">
        <ion-nav-view name="tab-whats"></ion-nav-view>
      </ion-tab> -->
      <!-- <a class="tab-item">
        <i class="icon ion-star"></i>
        Favorites
      </a> -->

      <!-- <ion-tab title="Search" icon-off="ems-love-icon" icon-on="ems-love-icon" href="#/menu/tabs/memberships">
        <ion-nav-view name="tab-search"></ion-nav-view>
      </ion-tab>

      <ion-tab title="More" icon-off="ems-profile-icon" icon-on="ems-profile-icon" href="#/menu/tabs/account">
        <ion-nav-view name="tab-more"></ion-nav-view>
      </ion-tab> -->
</ion-tabs>
