<ion-view cache-view="false">
    <ion-nav-title></ion-nav-title>
    <ion-nav-bar class="bar-color-1" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-white ion-ios-arrow-back" ng-click="back()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div class="bar bar-subheader">
      <h2 class="title">hours & location</h2>
    </div>

    <ion-content class="listing-detail has-subheader main-content has-tabs">
      <div class="async-load" style="width:100%; height:200px; z-index:999 !important; border: 4px solid #fff; background-color: #fff;" id="map-canvas" data-tap-disabled="true"></div>

      <div class="row">
        <div class="col col-67 hours">
          <div class="">
            {{data.address}}
          </div>
          <ul>
            <li>T: <a href="tel:{{data.telp}}">{{data.telp}}</a></li>
            <li>F: {{data.fax}}</li>
            <li style="white-space:nowrap;">E: <a style="color:#ccc; font-size:13px;" href="mailto:{{data.email}}">{{data.email}}</a></li>
          </ul>
        </div>
        <div class="col col-63 booth-btn" style="position:relative;">
          <button style="color:#A57C57; font-size:12px !important; font-weight:bold; white-space: nowrap; position: absolute; bottom: 0;" class="button button-small button-full btn-inline btn-sm" ng-click="goToMapApp()">
            directions >
            <!-- <i class="icon ion-chevron-right icon-accessory icon-right"></i> -->
          </button>
        </div>
      </div>

      <div class="row hours">
        <div ng-if="data.open_and_close_hours.length > 0" class="col col-50">
          <h4 style="color:#A57C57;" class="text-center">OPEN HOURS</h4>
          <ul class="text-center">
            <li ng-repeat="h in data.open_and_close_hours">{{h.day}} {{h.time}}</li>
          </ul>
        </div>
        <div ng-if="data.pickup_and_delivery_hours.length > 0" class="col col-50">
          <h4 style="color:#A57C57;" class="text-center">PICKUP HOURS</h4>
          <ul class="text-center">
            <li ng-repeat="p in data.pickup_and_delivery_hours">{{p.day}} {{p.time}}</li>
          </ul>
        </div>
      </div>


    </ion-content>
    <bottom-tabs-bar></bottom-tabs-bar>

    </div>
</ion-view>
