<ion-modal-view style="background-color: #1D1D1D; z-index: 999 !important;">
    <ion-header-bar class="bar-color-1" align-title="center">
        <h1 class="title title-center header-item"></h1>
        <ion-header-buttons side="left">
            <button class="button button-icon button-white ion-ios-arrow-back" ng-click="voucherModal.hide()"></button>
        </ion-header-buttons>
    </ion-header-bar>
    <div class="bar bar-subheader">
      <h2 class="title">Voucher detail</h2>
    </div>

    <ion-content class="main-content has-subheader" style="padding:15px;">
        <div class="voucher-container">
            <h2 style="color:#fff; text-align:center;">{{currentVoucher.order_detail.product_name || currentVoucher.claim_promotion.product.name}}</h2>
            <h3 style="color:#fff; text-align:justify;">{{currentVoucher.claim_promotion.product.desc_short}}</h3>
            <!--<img ng-src="{{currentVoucher.barcodeImg}}" alt="">-->
            <barcode class="voucher-barcode" ng-if="currentVoucher.barcode" type="ean" render="img" string="{{currentVoucher.barcode}}" options="barcodeOptions"></barcode>
            <!-- <div ng-if="!currentVoucher.barcode" class="voucher-placeholder">
              <img ng-src="./img/barcode_placeholder.jpg">
              <div class="voucher-placeholder-overlay">
                <span style="color:#fff;">This voucher has been processing...<br>please try again later.</span>
              </div>
            </div> -->
            <div class="text-center voucher-info">
              <p style="color:#fff;" ng-if="currentVoucher.issue_date">Issue Date: {{expTime(currentVoucher.issue_date)}}</p>
              <p style="color:#fff;" ng-if="currentVoucher.expire_date">Expire Date: {{expTime(currentVoucher.expire_date)}}</p>
            </div>
            <!-- <p ng-i="currentVoucher.order_detail.product_type_id == 1 || currentVoucher.order_detail.product_type_id == 2">Please see reception to collect your purchase</p> -->
        </div>
    </ion-content>
</ion-modal-view>
