.accordion-list ion-item.item-stable{
  background-color: transparent;
  color:#ccc;
  font-size: 20px;
  font-weight: bolder;
  border: 0;
  border-color: #000;
}

.accordion-list ion-item.item-accordion{
  background-color: transparent;
  color:#fff;
  border: 0;
}

.accordion-list .item.active.item-stable, .accordion-list .item.activated.item-stable{
  background-color: transparent;
  color:#ccc;
  font-size: 20px;
  font-weight: bolder;
  border-color: #000;
}

.accordion-list ion-item.item-stable i{
  font-size: 20px;
  position: absolute;
  right: 5px;
}

.accordion-list div > div:not(:last-child){
  border-bottom: 1px solid #000;
}

.legal-content > div{
  white-space: normal;
  text-align: justify;
  border-width: 0;
}





.legals_page p{
  white-space: normal !important;
  padding: 0 10px;
  text-align: justify;
}

.legals_page p{
  color: #ccc;
}

#page_1 {position:relative; overflow: hidden;margin: 96px 0px 115px 97px;padding: 0px;border: none;width: 697px;}





#page_2 {position:relative; overflow: hidden;margin: 96px 0px 112px 97px;padding: 0px;border: none;width: 697px;}





#page_3 {position:relative; overflow: hidden;margin: 96px 0px 114px 97px;padding: 0px;border: none;width: 697px;}





#page_4 {position:relative; overflow: hidden;margin: 96px 0px 111px 97px;padding: 0px;border: none;width: 697px;}





#page_5 {position:relative; overflow: hidden;margin: 96px 0px 133px 97px;padding: 0px;border: none;width: 697px;}





#page_6 {position:relative; overflow: hidden;margin: 96px 0px 113px 97px;padding: 0px;border: none;width: 697px;}





#page_7 {position:relative; overflow: hidden;margin: 96px 0px 974px 97px;padding: 0px;border: none;width: 697px;}





.ft0{font: bold 14px 'Calibri';line-height: 17px;}
.ft1{font: 14px 'Calibri';line-height: 17px;}
.ft2{font: 14px 'Calibri';line-height: 18px;}
.ft3{font: 14px 'Calibri';line-height: 19px;}
.ft4{font: 14px 'Calibri';margin-left: 3px;line-height: 17px;}
.ft5{font: 14px 'Calibri';margin-left: 3px;line-height: 19px;}
.ft6{font: bold 14px 'Calibri';line-height: 18px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;margin-top: 19px;margin-bottom: 0px;}
.p2{text-align: left;padding-right: 99px;margin-top: 19px;margin-bottom: 0px;}
.p3{text-align: left;margin-top: 35px;margin-bottom: 0px;}
.p4{text-align: left;padding-right: 256px;margin-top: 1px;margin-bottom: 0px;}
.p5{text-align: left;margin-top: 18px;margin-bottom: 0px;}
.p6{text-align: justify;padding-right: 97px;margin-top: 1px;margin-bottom: 0px;}
.p7{text-align: left;padding-right: 109px;margin-top: 1px;margin-bottom: 0px;}
.p8{text-align: left;margin-top: 17px;margin-bottom: 0px;}
.p9{text-align: left;margin-top: 1px;margin-bottom: 0px;}
.p10{text-align: justify;padding-right: 100px;margin-top: 1px;margin-bottom: 0px;}
.p11{text-align: left;margin-top: 13px;margin-bottom: 0px;}
.p12{text-align: left;padding-right: 110px;margin-top: 2px;margin-bottom: 0px;}
.p13{text-align: left;padding-right: 108px;margin-top: 0px;margin-bottom: 0px;}
.p14{text-align: left;padding-right: 132px;margin-top: 1px;margin-bottom: 0px;}
.p15{text-align: left;padding-right: 101px;margin-top: 0px;margin-bottom: 0px;}
.p16{text-align: left;padding-right: 140px;margin-top: 1px;margin-bottom: 0px;}
.p17{text-align: left;padding-right: 143px;margin-top: 0px;margin-bottom: 0px;}
.p18{text-align: left;margin-top: 14px;margin-bottom: 0px;}
.p19{text-align: left;padding-right: 103px;margin-top: 2px;margin-bottom: 0px;}
.p20{text-align: left;padding-right: 99px;margin-top: 35px;margin-bottom: 0px;}
.p21{text-align: left;padding-right: 116px;margin-top: 0px;margin-bottom: 0px;}
.p22{text-align: left;padding-right: 148px;margin-top: 16px;margin-bottom: 0px;}
.p23{text-align: left;padding-right: 110px;margin-top: 1px;margin-bottom: 0px;}
.p24{text-align: left;margin-top: 15px;margin-bottom: 0px;}
.p25{text-align: left;padding-right: 153px;margin-top: 0px;margin-bottom: 0px;}
.p26{text-align: left;padding-right: 96px;margin-top: 0px;margin-bottom: 0px;}
.p27{text-align: justify;padding-right: 98px;margin-top: 0px;margin-bottom: 0px;}
.p28{text-align: justify;padding-right: 129px;margin-top: 0px;margin-bottom: 0px;}
.p29{text-align: left;padding-right: 119px;margin-top: 0px;margin-bottom: 0px;}
.p30{text-align: left;padding-right: 279px;margin-top: 0px;margin-bottom: 0px;}
.p31{text-align: left;padding-right: 98px;margin-top: 1px;margin-bottom: 0px;}
.p32{text-align: left;padding-right: 96px;margin-top: 2px;margin-bottom: 0px;}
.p33{text-align: left;padding-right: 138px;margin-top: 0px;margin-bottom: 0px;}
.p34{text-align: left;padding-right: 538px;margin-top: 0px;margin-bottom: 0px;}
.p35{text-align: left;padding-right: 159px;margin-top: 1px;margin-bottom: 0px;}
.p36{text-align: left;padding-right: 105px;margin-top: 0px;margin-bottom: 0px;}
.p37{text-align: left;margin-top: 16px;margin-bottom: 0px;}
.p38{text-align: left;margin-top: 2px;margin-bottom: 0px;}
.p39{text-align: left;padding-right: 97px;margin-top: 1px;margin-bottom: 0px;}
.p40{text-align: left;padding-right: 111px;margin-top: 0px;margin-bottom: 0px;}
.p41{text-align: left;padding-right: 112px;margin-top: 0px;margin-bottom: 0px;}
.p42{text-align: left;padding-right: 219px;margin-top: 0px;margin-bottom: 0px;}
.p43{text-align: left;padding-right: 102px;margin-top: 0px;margin-bottom: 0px;}
.p44{text-align: left;padding-right: 116px;margin-top: 1px;margin-bottom: 0px;}
.p45{text-align: left;padding-right: 109px;margin-top: 0px;margin-bottom: 0px;}
.p46{text-align: left;padding-right: 176px;margin-top: 0px;margin-bottom: 0px;}
.p47{text-align: left;padding-right: 99px;margin-top: 0px;margin-bottom: 0px;}
.p48{text-align: left;padding-right: 100px;margin-top: 17px;margin-bottom: 0px;}
.p49{text-align: left;padding-right: 115px;margin-top: 18px;margin-bottom: 0px;}
.p50{text-align: justify;padding-right: 109px;margin-top: 0px;margin-bottom: 0px;}
.p51{text-align: left;padding-right: 106px;margin-top: 0px;margin-bottom: 0px;}
.p52{text-align: left;padding-right: 139px;margin-top: 0px;margin-bottom: 0px;}
.p53{text-align: left;padding-right: 122px;margin-top: 0px;margin-bottom: 0px;}
.p54{text-align: left;padding-right: 111px;margin-top: 1px;margin-bottom: 0px;}
.p55{text-align: left;padding-right: 520px;margin-top: 0px;margin-bottom: 0px;}
.p56{text-align: left;padding-right: 110px;margin-top: 0px;margin-bottom: 0px;}
.p57{text-align: justify;padding-right: 104px;margin-top: 0px;margin-bottom: 0px;}
.p58{text-align: left;padding-right: 99px;margin-top: 1px;margin-bottom: 0px;}
.p59{text-align: left;padding-right: 252px;margin-top: 0px;margin-bottom: 0px;}
.p60{text-align: left;padding-right: 104px;margin-top: 1px;margin-bottom: 0px;}
.p61{text-align: left;padding-right: 150px;margin-top: 3px;margin-bottom: 0px;}
.p62{text-align: left;padding-right: 248px;margin-top: 0px;margin-bottom: 0px;}
.p63{text-align: left;padding-right: 106px;margin-top: 1px;margin-bottom: 0px;}
.p64{text-align: left;padding-right: 106px;margin-top: 18px;margin-bottom: 0px;}
.p65{text-align: left;padding-right: 106px;margin-top: 3px;margin-bottom: 0px;}
.p66{text-align: left;padding-right: 106px;margin-top: 17px;margin-bottom: 0px;}
.p67{text-align: left;padding-right: 129px;margin-top: 35px;margin-bottom: 0px;}
.p68{text-align: left;padding-right: 107px;margin-top: 3px;margin-bottom: 0px;}
.p69{text-align: left;padding-right: 512px;margin-top: 0px;margin-bottom: 0px;}
.p70{text-align: left;padding-right: 425px;margin-top: 0px;margin-bottom: 0px;}
.p71{text-align: left;padding-right: 98px;margin-top: 0px;margin-bottom: 0px;}
