.tabs-striped.bottom-tab >.tabs, .tabs-striped.bottom-tab.tabs{
  /* theme setting */
  background-color: #000;
  border-bottom: 1px solid #000;
  /* theme setting */

}

.tabs-striped.bottom-tab .tab-item .tab-title{
  /*font-family: 'Helvetica', Arial, sans-serif;*/
}

.tabs-striped.bottom-tab .tab-item{
  /* theme setting */
  color: #ccc;
  /* theme setting */
}

.tabs-striped.tabs-color-lightblue .tab-item.tab-item-active, .tabs-striped.tabs-color-lightblue .tab-item.active, .tabs-striped.tabs-color-lightblue .tab-item.activated {
    margin-top: -2px;
    /* theme setting */
    color: #fff;
    border: 0 solid #fff;
    /* theme setting */
    border-top-width: 2px;
}

.tab-item .icon.ems-love-icon{
  font-size: 45px !important;
}

/* .tabs-icon-only > .tabs i.fa, .tabs-icon-only.tabs i.fa {
    line-height: inherit;
}

.tab-item i.fa {
    display: block;
    margin: 0 auto;
    height: 32px;
    font-size: 32px;
} */
