.bar.bar-color-1{
  /* theme setting */
  background-color: #000;
  border-color: #000;
  /* theme setting */
  color: #fff;
}

.bar.bar-subheader{
  /*background-color: #361939;*/
  background-color: #000;
  color: #A57C57;
  /* border: 1px solid rgba(149, 152, 154, 0.13); */
  border: 0;
  border-right: 0px;
  border-left: 0px;
}

.bar.bar-subheader .title{
  color: #A57C57;
  font-weight: bold;
  text-transform:uppercase;
  font-size: 16px;
}

ion-view{
  background-color: #0F0E0E !important;
}

ion-view.login-view{
  background: url('../img/vic-fruit-background.jpg') no-repeat center;
  background-size: cover;
}

/* home page */
ion-view.home-page{
  /* theme setting */
  /* background-color: #fff !important; */
  /* theme setting */
}

ion-view.home-page .home-btn-div .col > button > i{
  background: -webkit-linear-gradient(#A57C57, #A57C57);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ion-view.home-page .home-btn-div .row:nth-child(2) .col:nth-child(2) > button > i{
  background: -webkit-linear-gradient(#72C6C7, #0D2956);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* button */
.button-bar .button.button-outline{
  color: #A57C57;
  border: 0;
  font-size: 14px;
}

ion-view.home-page .home-btn-div .col > button{
  color: #CCCCCC;
}

button.btn-bg{
  font-size: 20px !important;
  color: #A57C57;
}

button.btn-sm{
  font-size: 10px !important;
  color: #ccc;
}

.button:hover{
  color: #fff;
}

/* login */
h4.social-heading{
  color: #292329;
}


/* listing */
.listing-details.listing-desc{
  background-color: #0F0E0E;
}

.card.no-h-margin .item-body .item-action{
  background-color: #0F0E0E;
}

.listing-details.listing-desc h2{
  color: #A57C57;
}

.listing-details.listing-desc p.long-desc{
  color: #CCCCCC;
}

.listing-details.listing-desc .listing-days .listing-day{
  border: 2px solid #A57C57;
  color: #A57C57;
}

/* account page */
.profile-info .point-bar.row > .col{
  color: #ccc;
}

.profile-info .point-bar.row > .col .points{
  color: #A57C57;
}

.profile-barcode .voucher-barcode img{
  background-color: #ccc;
}

/* FAQ */
.list.card.faq{
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  background-color: transparent;
}

.list.card.faq .faq-q-item, .list.card.faq .faq-a-item{
      background-color: #161515;
      color: #ccc;
      border: 0;
      font-size: 14px;
}

/* survey page */

.survey-item{
  background-color: transparent;
  border: 1px solid #999;
}

.survey-item > .item.item-text-wrap{
  background-color: #000;
}

.survey-item > .item.item-text-wrap i, .survey-item > .item.item-text-wrap h3{
  color: #eee;
}

.survey-item > .item.item-text-wrap h3{
  font-size: 15px;
  font-weight: bold;
}

.footer-btn-bar{
  background-color: #000;
}

.footer-btn-bar .button{
  margin: 0;
}
